* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(5, 2, 22);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper--header {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.wrapper--header > h1 {
    font-size: 4em;
    font-weight: 300;
}

.wrapper--btn {
    margin-bottom: 4rem;
}

.wrapper--btn > button {
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    font-family: inherit;
    font-size: 2em;
    background-color: #fff;
}
.wrapper--output > * {
    font-size: 3em;
}
#output {
    color: rgb(167, 167, 167);
    font-style: italic;
    text-decoration: underline;
}